header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 20px;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
}
